form.form{
    background: #ffb600;
    width: 400px;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    color: black;
}

.name{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 90%;
}

.email{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 90%;
}

.comment{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 90%;
}


.form input{
    height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px white solid;
}

.comment input{
    height: 80px;
}

.btn-div{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.btn:hover{
    background: #59b256;
    color: white;
}

.error-div{
    text-align: center;
}

@media screen and (max-width:720px) {
    form.form{
        width: 100%;
    }
}
