.footer{
    position: relative;
    
}

.row{
    display: flex;
    padding: 20px;
    justify-content: center;
}

.icons{
    padding: 10px;
}

.f-icons{
    height: 30px;
    width: 30px;
}

.cat-img{
    top :0;
    left: 100px;
    width: 250px;
    height:200px;
    position: absolute;
}


@media screen and (max-width:720px) {
    .cat-img{
        left:0;
        width: 100%;
        object-fit: contain;
        margin-top: 200px;
    }
}
